@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectInter.Models
@model Customers

@{
    ViewBag.Title = "Alterando cliente";
    ViewBag.Styles = "/css/dashboard/newCustomer.css";
    ViewBag.Script = "/js/dashboard/newCustomer.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="table">
    <form id="formCadastro" asp-controller="DashboardCustomer" asp-action="UpdateCustomer" method="POST">
        <div id="consumerInfo">
            <div class="formLine">
                <input name="idCustomer" value="@Model.IdPerson" style="display: none;">
                <input id="customerName" class="formInput" type="text" placeholder="Nome" name="Name" value="@Model.Name" required>
                <input id="customerCPF" value="@Model.Cpf" class="form-control cpf-mask formInput" type="text" placeholder="CPF" name="cpf" required>
            </div>
            <div class="formLine">
                <input id="customerEmail" value="@Model.Email" class="formInput" type="text" placeholder="E-mail" name="Email" required>
                <input id="customerPhoneNumber" value="@Model.Cellphone" class="form-control cel-sp-mask formInput" type="text" placeholder="Telefone" name="Cellphone" required>
            </div>
            <div class="formLine">
                <input id="CustomerPassword" class="formInput" type="text" value="@Model.Password" placeholder="Senha" name="Password" required>
                <input id="CustomerConfirmPassword" class="formInput" type="text" placeholder="Confirmar Senha" required>
            </div>
        </div>
        <hr class="divForm">
        <div id="adresses">
            <div class="adress">
                <h2 class="titleAdress">Endereço:</h2>
                <div class="formLine">
                    <input class="form-control cep-mask formInput cepInput" type="text" placeholder="CEP" asp-for="Address.ZipCodeAddress">
                </div>
                <div class="formLine">
                    <input class="formInput" type="text" placeholder="Endereço" asp-for="Address.NameAddress">
                    <input class="formInput adressNumber" type="text" placeholder="Numero" asp-for="Address.NumberAddress">
                </div>
                <div class="formLine">
                    <input class="formInput" type="text" placeholder="Bairro" asp-for="Address.District">
                    <input class="formInput" type="text" placeholder="Complemento" asp-for="Address.ComplementAddress">
                </div>
            </div>
        </div>
        <div id="formOptionsBtn">
            <button id="btnSubmit" class="btnForm" type="submit">Salvar <i class="far fa-save"></i></button>
        </div>
    </form>
</div>