@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ProjectInter.Models
@model List<Order>

@{
    ViewBag.Title = "Point Dashboard";
    ViewBag.Styles = "/css/dashboard/order.css";
    ViewBag.Script = "/js/dashboard/order.js";
    Layout = "/Views/Shared/_layoutDashboard.cshtml";
}

<div id="orderTable">
    @foreach (var order in Model)
    {
        <div class="cardOrderStatus">
            <div class="customerInformations">
                <div class="orderInformationLine">
                    <div class="orderBasicInformations">
                        <p class="idOrder">#@order.IdOrder -&nbsp</p>
                        <p class="dataOrder">@order.DateToSell.ToString("dd/MM/yyyy") &nbsp</p>
                    </div>
                    <div class="consumerName">
                        <p class="clientName">Joana da Silva Ferreira Dutra de Solza Filho</p>
                    </div>
                </div>
                <div class="orderInformationLine">
                    @{var situacao = order.Situation == 1 ? "enviado" : order.Situation == 2 ? "Aceito" : "entregue";}
                    <p class="orderStatus">Situação: @situacao</p>
                </div>
                <div class="orderInformationLine">
                    <p>+ Detalhes</p>
                </div>
            </div>
            <div class="orderInformationLine">
                <div class="timeOrderInformation">
                    <p class="orderDispatched timeInformation"><i class="far fa-paper-plane"></i> @order.OrderRead.ToString("HH:mm")</p>
                    <p class="orderRead timeInformation"><i class="fas fa-book-open"></i> @order.OrderAccepted.ToString("HH:mm")</p>
                    <p class="completedOrder timeInformation"><i class="fas fa-truck"></i> @order.OrderDelivery.ToString("HH:mm")</p>
                </div>
            </div>
        </div>
    }
</div>
